body {
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wordle-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.wordle-grid .letter {
  height: 100px;
  text-align: center;
  font-size: 32px;
}

.wordle-grid .letter.color-3 {
  background-color: #ccc;
}

.wordle-grid .letter.color-0 {
  background-color: #282828;
}

.wordle-grid .letter.color-1 {
  background-color: yellow;
}

.wordle-grid .letter.color-2 {
  background-color: green;
}